.Titulo1{
    color:#ffffff;
  margin: 0 0 5px;
}

.paragrafo{
    color:#ffffff;
  margin-top: 5px;
}

.logo1{
    width: 200px;
    align-self: center;
}

.container {
    text-align: center;
    padding: 20px;
    height: 100vh;
  }


body{
    font-family: 'Roboto Mono',monospace;
  min-height: 400px;
  background-image: url('https://image.flaticon.com/icons/png/512/201/201635.png');
  background-color: #000000;
  background-size: 80vh;
  background-position: center bottom;
  background-repeat: no-repeat;
}